<div>
    <div class="grid">
        <section class="left">

            {{{ chatHeader }}}

            <section class="chat-list">

                {{#each chatCards}}
                {{{ chatCard }}}
                {{/each}}

            </section>
        </section>

        <section class="messages-layout">

            {{{ messageHeader }}}
            {{{ messageList }}}
            {{{ messageControls }}}

        </section>
    </div>
</div>
