<main>
    {{{ chatHeader }}}

    <section class="setting">
        <div class="setting__card">
            <div class="setting__avatar">
                <img class="setting__avatar-image" data-value="openAvatarPopup" src="https://ya-praktikum.tech/api/v2/resources{{ user.avatar }}">
            </div>
        </div>
        <div class="setting__card">
            <div class="setting__card-line">
                <span class="setting__label">Имя</span>
                <span class="setting__value">{{ user.first_name }}</span>
            </div>
            <div class="setting__card-line">
                <span class="setting__label">Фамилия</span>
                <span class="setting__value">{{ user.second_name }}</span>
            </div>
            <div class="setting__card-line">
                <span class="setting__label">Имя в чате</span>
                <span class="setting__value">{{ user.display_name }}</span>
            </div>
        </div>
        <div class="setting__card">
            <div class="setting__card-line">
                <span class="setting__label">Логин</span>
                <span class="setting__value">{{ user.login }}</span>
            </div>
            <div class="setting__card-line">
                <span class="setting__label">Почта</span>
                <span class="setting__value">{{ user.email }}</span>
            </div>
            <div class="setting__card-line">
                <span class="setting__label">Телефон</span>
                <span class="setting__value">{{ user.phone }}</span>
            </div>
        </div>
        <div class="setting__card">
            <div class="setting__card-line">
                <a class="setting__link" data-value="openChangeProfilePopup">Изменить данные</a>
            </div>
            <div class="setting__card-line">
                <a class="setting__link" data-value="openChangePasswordPopup">Сменить пароль</a>
            </div>
            <div class="setting__card-line">
                <a class="setting__link setting__link_exit" data-value="exit">Выйти</a>
            </div>
        </div>
    </section>
</main>