<div class="chat-card {{ className }}">
    <img src="{{ avatarUrl }}" class="avatar avatar_chat-list">
    <div class="chat-card__wrap">
        <span class="avatar__name">{{ avatarName }}</span>
        <p class="avatar__message">{{ message }}</p>
    </div>
    <span class="chat-card__time">{{ messageTime }}</span>

    {{#if messageCount}}
        <span class="chat-card__count">{{ messageCount }}</span>
    {{/if}}
</div>
