<div class="setting__card">
    {{#each cardLine}}

        {{#if withAvatar}}
            <div class="setting__avatar">
                <img class="setting__avatar-image" src="{{ avatarSrc }}">
            </div>
        {{else}}
            
            {{#if withLink}}
                <div class="setting__card-line">
                    <a href="{{ this.linkUrl }}" class="setting__link {{ this.className }}">{{ this.linkName }}</a>
                </div>
            {{else}}
                <div class="setting__card-line">
                    <span class="setting__label">{{ this.label }}</span>
                    <span class="setting__value">{{ this.value }}</span>
                </div>
             {{/if}}

         {{/if}}

    {{/each}}
</div>