<section class="header">
        <div class="header__right">

            <div class="avatar__wrap">
               
                    {{#if currentChats.avatar }}
                        <img src="https://ya-praktikum.tech/api/v2/resources{{ currentChats.avatar }}" class="avatar avatar_chat-header">
                    {{else}}
                        <img src="{{ thumb }}" class="avatar avatar_chat-header">
                    {{/if}}
                    <span class="avatar__name">{{ currentChats.title }}</span>
               
            </div>

            <div class="button__wrap">
                {{#each buttons}}
                {{{ button }}}
                {{/each}}   
            </div>
        </div>
</section>
